html,
body {
  height: 100%;
  line-height: 140%;
  font-size: 18px;
  background-color: #ffffff;
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  margin: 0px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 2rem;
  line-height: 160%;
  color: #69ffb4;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.theme {
  margin: 12px auto 18px auto;
  background: transparent;
  color: #6969ff;
  width: 200px;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 12px;
}

select {
  padding: 8px 0px;
  background: transparent;
  color: #6969ff;
  border: solid 2px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

option {
  text-align: center;
}
